@use '../abstracts/variables' as *;

.hidden {
    display: none;
}

.error-message {
    background: crimson;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 3px;
    margin: 1rem auto 0;
}

.error {
    border: solid 2px red !important;
    color: red;
}

.row-active {
    background: orange !important;
    color: $navy-dark;
}

.row-aim {
    background: green !important;
}