@use '../abstracts/variables' as *;

.hidden {
    display: none;
}

.error-message {
    background: crimson;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 3px;
    max-width: 354px;
    margin: 0 auto 1rem;
}

.error {
    border: solid 1px red !important;
}

.row-active {
    background: orange !important;
    color: $blue;
}

.row-aim {
    background: green !important;
}

.text-centered {
    text-align: center;
}

.is-centered {
    justify-content: center;
}

a.link,
[aria-current="page"] {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 6px;
        bottom: -3px;
        background: $gold-dark;
        opacity: 0;
        left: 5px;
        transition: all .3s ease-in-out;
        z-index: -1;
    }
    
    &:hover::before {
        bottom: 1px;
        opacity: 1;
    }

    .snippet &::before {
        bottom: 10px;
        height: 20px;
        background: lighten($gold, 10%);
        opacity: 1;
        width: 0;
    }
}

a.link[aria-current="page"]::before {
    bottom: 1px;
    opacity: 1;
}

.link-bg {
    background-image: linear-gradient(rgba($gold, .8), rgba($gold-dark, .8));
    background-position: 0 .5em;
    background-repeat: no-repeat;
    background-size: 0;
    transition: background-size .75s cubic-bezier(.16,1,.3,1);

    &:hover {
        background-size: 100%;
    }
}