---
layout: base.njk 
title: Calculator
uniqueTitle: Quantify Calculator
centered: true
---

<div class="hero">
	<div class="hero-body">
		<h1>Calculator</h1>
		<p>Use the options below to showcase how much money you will earn. The days option will allow you to see how much money you have earned over your chosen number of days and when you will hit your limit depending on your VIP level. The Amount option will show you the date that you will reach your specified amount.</p>
	</div>
</div>

<div class="container">
    <div class="calculator">
        <div class="calculator-form">
			<div class="tabs">
				<ul>
					<li><a href="#" data-target="days" class="active">Days</a></li>
					<li><a href="#" data-target="balance">Balance</a></li>
				</ul>
			</div>    
			
			<div class="content">
				<div id="days">
					{% include "days-form.njk" %}
				</div>

				<div id="balance" class="hidden">
					{% include "balance-form.njk" %}
				</div>
			</div>
        </div>

        <div class="calculator-table">
			<div class="buttons hidden">
				<button class="clear">Clear Table</button>
				<button id="downloadExcel" class="disabled">Export to Excel</button>
				<button id="downloadExcelRows" class="disabled">Export Highlights</button>
				<button id="remove-highlights" class="disabled">Clear highlights</button>
			</div>

			<p class="pre-text">Awaiting your calculation...</p>

			<table class="hidden">
				<thead>
					<tr>
						<th>Day</th>
						<th>Daily</th>
						<th>Acc Earnings</th>
						<th>Percentage</th>
						<th>Balance</th>
					</tr>
				</thead>
				{# <tbody>
					<tr>
						<td>Day 1 - Sun August 06 2023</td>
						<td data-label="Daily">$1.15</td>
						<td data-label="Acc Earnings">$1.15</td>
						<td data-label="Percentage">2.3%</td>
						<td data-label="Balance">$51.15</td>
					</tr>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
					<tr>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
						<td>1</td>
					</tr>
				</tbody> #}
			</table>
        </div>
    </div>
</div>

<script src="https://cdn.sheetjs.com/xlsx-0.20.0/package/dist/xlsx.full.min.js" defer></script>
