---
layout: base.njk 
title: Calculator Selector
uniqueTitle: Quantify calculator selector
centered: true
---

<div class="hero">
	<div class="hero-body">
        <div class="container narrow">
            <h1 class="title">Calculator Selector</h1>
            <div class="text">
                <p>Choose between the quantify calculator or the commission calculator</p>
            </div>
        </div>
	</div>
</div>

<div class="container medium">
    <section id="calculator-selector">
        <a href="/calculator/" class="card">
            <h3>Quantify Calculator</h3>
            <img src="/assets/images/calc-table.png" class="image-box" alt="Example calculation table">
        </a>
        <a href="/commission-calculator/" class="card">
            <h3>Commission Calculator</h3>
            <img src="/assets/images/comm-calc.png" class="image-box" alt="Commission calculator">
        </a>
    </section>
</div>
