---
layout: base.njk 
title: Commission calculator
uniqueTitle: Quantify commission calculator
centered: true
---

<div class="hero">
	<div class="hero-body">
        <div class="container narrow">
            <h1 class="title">Commission Calculator</h1>
            <div class="text">
                <p>Use the options below to showcase how much commission you will earn in a day. Choose the level of your referral and their balance. </p>
            </div>
        </div>
	</div>
</div>