---
layout: base.njk 
uniqueTitle: Quantify Guides
lightHeader: true
lightBody: true
---

<h1 class="text-centered">Guides</h1>

{% if collections.post.length %}
    <ul role="list" class="posts">
        {% for post in collections.post | reverse%}
        <li>
            {% include 'posts/snippet.njk' %}
        </li>
        {% endfor %}
    </ul>
{% else %}
    <h2 class="text-centered ">There are no guides yet, hang tight!</h2>
{% endif %}
