---
layout: base.njk 
title: Home
uniqueTitle: Quantify Helpers
---

<div class="hero">
    <div class="hero-body">
        <h1 class="title">Calculate your <br /><em>future</em> earnings.</h1>
        <p>Simply enter your VIP level, balance, number of days and your goal balance to see what lies ahead.</p>
        <a href="#see-more" class="button cta">See more &rarr;</a>
    </div>
</div>
