---
layout: base.njk 
title: Example
---

<h1 class="section-title">Welcome to my website!</h1>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
  </div>
</section>
