<div class="contact-cta text-centered">
    <h2 class="title">Want more help?</h2>
    <p>If you have any questions, don't hesitate to contact us.</p>
    <p>Please note that we are in no way connected to DSL itself. If you have any queries relating to your account, etc. Please contact DSL support</p>
    <a href="#contact-form" class="button galactic">Contact us</a>
</div>
