<div class="contact-cta text-centered">
    <h2 class="title">Want more help?</h2>
    <p>If you have any questions, don't hesitate to contact us.</p>
    <a href="#contact-form" class="button galactic">Contact us</a>
</div>