<footer id="footer">
	<div class="container medium">
		<div class="footer-content">
			<a href="/">
				<img src="/assets/images/logo.svg" class="logo svg" alt="Logo">
			</a>

			<div class="sitemap">
				<h4>Sitemap</h4>
				<ul>
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/guides/" class="link">Guides</a></li>
					<li><a href="/calculator/" class="link">Calculator</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="created">
		<div class="container medium">
			<p>Created by {{ site.author }}</p>
		</div>
	</div>
</footer>