<div class="contact-cta tch">
    <a href="https://the-crypto-hub.co.uk" class="text-centered">
        <h2 class="title">Want to know which platforms are good<br /> and which to avoid?</h2>
        <p>Then <u>click here</u> to visit The Crypto Hub where you will find a list of good and bad platform as well as exclusive signup links to get you started!</p>
    </a>
</div>
