<select id="user-level">
    <option value="1" data-percentage="2.3">VIP1: 100.00-500.00 (2.3%)</option>
    <option value="2" data-percentage="2.5">VIP2: 501.00-2000.00 (2.5%)</option>
    <option value="3" data-percentage="2.9">VIP3: 2001.00-5000.00 (2.9%)</option>
    <option value="4" data-percentage="3.3">VIP4: 5001.00-10000.00 (3.3%)</option>
    <option value="5" data-percentage="3.8">VIP5: 10001.00-30000.00 (3.8%)</option>
    <option value="6" data-percentage="4.3">VIP6: 30001.00+ (4.3%)</option>
</select>
