<select id="user-level">
    <option value="1" data-percentage="2.3">VIP1: 35.00-500.00</option>
    <option value="2" data-percentage="2.5">VIP2: 501.00-2000.00</option>
    <option value="3" data-percentage="2.8">VIP3: 2001.00-5000.00</option>
</select>