<select id="user-level">
    <option value="1" data-percentage="2.28">VIP1</option>
    <option value="2" data-percentage="2.24">VIP2</option>
    <option value="3" data-percentage="2.12">VIP3</option>
    <option value="4" data-percentage="2.16">VIP4</option>
    <option value="5" data-percentage="2.12">VIP5</option>
    <option value="6" data-percentage="2.12">VIP6</option>
</select>
