<article class="snippet">
    <h3><a class="snippet-title" href="{{ post.url }}">{{ post.data.title }}</a></h3>
    {% if post.data.description %}
        <p>{{ post.data.description }}</p>
    {% endif %}
    <h4 class="snippet-date">{{ post.data.date  | prettyDate }}</h4>
</article>