@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

/* //////////////////////
  Header
  /////////////////////// */

header.header {
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 2.5rem;
  background: $blue;
  z-index: 2;
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;

    @include m.mobile-max {
      flex-direction: column;
      align-items: center;
    }

    svg {
      width: 180px;
      height: auto;
      display: block;
    }

    nav {
      @include m.mobile-max {
        margin-top: 1rem;
      }

      ul {
        display: flex;

        li {
          list-style: none;

          &:not(:last-child) {
            margin-right: 1rem;
          }

          a {
            text-decoration: none;
            color: $white;
            font-weight: $fw-semi-bold;
            font-size: $fs-5;
          }
        }
      }
    }
  }

  &.is-light {
    background: $white-ter;

    svg {
      path.quantify {
        fill: $blue;
      }

      path.helpers {
        fill: $gold-dark;
      }
    }

    nav {
      li a {
        color: $blue !important;
      }
    }
  }
}
