@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

#page-calculator {
    .hero-body p {
        max-width: 855px;
        margin: 0 auto;
    }

    .container {
        display: flex;
        gap: 3rem;
        margin-top: 3rem;
        margin-bottom: 6rem;
        
        @include m.mobile-max {
            gap: 2rem;
        }
        
        @include m.desktop-max {
            flex-direction: column;
        }

        .form,
        .table {
            border-radius: 15px;
            padding: 1rem;
            background: $grey-dark;
            border: solid 1px $blue-light;
            height: fit-content;

            @include m.tablet-max {
                padding: 1.5rem;
            }
        }

        .form {
            flex: 1;

            @include m.desktop-min {
                position: sticky;
                top: 125px;
            }
        }

        .table {
            flex: 3;
        }
    }
}