@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

#page-guides {
    .guides {
        display: flex;
        gap: 3rem;
        margin-top: 3rem;
        margin-bottom: 6rem;

        @include m.tablet-small-max {
            flex-direction: column;
            gap: 1rem;
        }

        .categories,
        .articles {
            border-radius: 25px;
            padding: 3rem;
            background: $grey-dark;
            border: solid 1px $blue-light;
            height: fit-content;

            @include m.tablet-max {
                padding: 1.5rem;
            }
        }

        .categories {
            flex: 1;

            .tabs {
                ul {
                    padding-left: .5rem;

                    li {
                        font-size: $fs-4;
                        list-style: none;
                        white-space: nowrap;
                        
                        a {
                            display: block;
                            color: $white;
                            text-decoration: none;
                            padding: 5px 15px;
                            border-radius: 20px;

                            &.active {
                                background: $galactic;
                            }
                        }
                        
                    }
                }
            }
        }

        .articles {
            flex: 3;

            .content > div {
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }

            h3 {
                margin-bottom: .5rem;
                
                @include m.mobile-max {
                    font-size: $fs-4;
                    line-height: 1.4;
                }

                a {
                    color: $white;
                    text-decoration: none;
                    font-weight: $fw-medium;

                    &:hover {
                        background: $galactic;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            h4 {
                color: $purple-light;
                font-size: $fs-6;
                font-weight: $fw-light;
            }

            p {
                margin-bottom: .8rem;
                font-weight: $fw-light;
                font-size: $fs-6;
            }
        }
    }
}