@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

#page-index {
    .hero {
        width: 100%;
        height: 100vh;
        display: grid;
        justify-content: center;
        text-align: center;
        margin-top: 0 !important;
        position: relative;

        @include m.mobile-max {
            height: 70vh;
        }
        
        &-body {
            padding-inline: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            h1 {
                font-size: $fs-giant;
                transform: translateY(100px);
                
                @include m.tablet-small-max {
                    font-size: 11vw;
                }
                
                margin-bottom: 1.5rem;
            }
            
            p {
                font-size: $fs-3;
                max-width: 34ch;
                margin: 0 auto;
                font-weight: $fw-light;
                margin-bottom: 2.5rem;

                @include m.mobile-max {
                    font-size: 4vw;
                }
            }
            
            a.button {
                opacity: 0;
                position: relative;
                top: 10px;
            }
        }

    }

    .container {
        #section-pages {
            display: flex;
            gap: 3rem;
            margin-top: 3rem;

            @include m.tablet-max {
                flex-direction: column;
            }

            .calculator-box,
            .guides-box {
                flex: 1;

                border-radius: 15px;
                padding: 2rem;
                background: $grey-dark;
                border: solid 1px $blue-light;
                text-decoration: none;
                color: $white-ter;
                transition: all .3s ease-in-out;

                h3 {
                    margin-bottom: 1rem;
                }
                
                p {
                    font-size: $fs-6;
                    margin-bottom: 2rem;

                    @include m.tablet-max {
                        max-width: 100%;
                    }
                }

                &:hover {
                    border-color: $purple;
                    transform: scale(1.01);
                }
            }

            .calculator-box {
                .image-box {
                    display: block;

                    @include m.tablet-max {
                        display: none;
                    }

                    @include m.tablet-small-max {
                        display: block;
                    }
                }

                .image-wide {
                    @include m.from(1023px) {
                        display: none;
                    }

                    @include m.tablet-small-max {
                        display: none;
                    }
                }
            }
            
            .guides-box {
                p.subtitle {
                    padding-bottom: 2rem;
                    border-bottom: solid 1px $grey-mid;
                }

                .guide-list {
                    h4 {
                        margin-bottom: 1.3rem;
                    }

                    h5 {
                        margin-block: .3rem;
                        
                        a {
                            color: $white;
                            font-size: $fs-5;
                            font-weight: $fw-regular;
                            text-decoration: none;
                            transition: all .2s ease-in-out;

                            &:hover {
                                color: $purple-light;
                            }
                        }
                    }

                    p {
                        margin-bottom: 1rem;
                        font-size: $fs-7;
                        color: $purple-light;
                    }

                    a.button {
                        display: inline-block;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}