@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

#page-post {
    .guide-article {
        display: flex;
        gap: 3rem;

        @include m.tablet-max {
            flex-direction: column-reverse;
            gap: 1rem;
        }

        .navigation,
        .main-article {
            border-radius: 25px;
            padding: 3rem;
            // border: solid 1px $blue-light;
            height: fit-content;
            
            @include m.tablet-max {
                padding: 1.5rem;
            }
        }
        
        .navigation {
            flex: 1;
            
            a {
                color: $white;
                font-weight: $fw-medium;
                text-decoration: none;
                font-size: $fs-4;

                &:hover {
                    color: $purple-light;
                }
                
                i {
                    margin-right: .3rem;
                }
            }
        }
        
        .main-article {
            flex: 4;
            background: $grey-dark;

            h1 {
                font-size: $fs-0;

                @include m.until(600px) {
                    font-size: 9vw;
                }
            }

            h4 {
                margin-bottom: 2rem;
            }

            ol li {
                padding-left: 1.2rem;
                margin-bottom: .5rem;
                font-size: $fs-6;

                &::marker {
                    font-weight: $fw-semi-bold;
                    color: $purple-light;
                }
            }

            a {
                color: inherit;
            }
        }

        ul.first-level {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            list-style: none;
            gap: 1rem;
            padding-left: 0;

            @include m.mobile-max {
            }

            & > li {
                margin-bottom: .5rem;

                & > strong {
                    color: $gold;
                    border-bottom: solid 2px $gold;
                    margin-bottom: .35rem;
                    display: inline-block;
                }

                & > ul {
                    padding-left: 0;
                    list-style: none;
                }
            }
        }

        h6 {
            font-size: $fs-5;
            margin-bottom: .3rem;
            background: $galactic-right;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &:not(:first-of-type) {
                margin-top: 2.5rem;
            }
        }

        p {
            margin-bottom: .9rem;
        }

        a {
            transition: all .2s ease-in-out;
            text-decoration: underline;
            
            &:hover {
                color: $gold;
            }
        }
    }
}