@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

#page-success {
    .hero-body {
        h1 {
            font-size: $fs-giant;
            margin-bottom: .5rem;
        }
        
        p {
            font-size: $fs-3;
        }
        
        a {
            margin-top: 1rem;
            display: inline-block;

            i {
                margin-right: .5rem;
            }
        }
    }
}