@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

body {
    background: $blue;
    color: white;
    text-align: center;
}

h1 {
    margin-top: 3rem;
    margin-bottom: .5rem;
}

p.subtitle {
    font-size: $fs-5;
    font-weight: normal;
    margin: 0 auto 3rem;
    line-height: 2;
    color: #f7f7f7;
    max-width: 600px;

	@include m.mobile-max {
		font-size: $fs-6;
		line-height: 1.6
	}
}

.wrapper {
	padding: 0 1rem 3rem;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 3rem;

    .content {
        @include m.mobile-max {
            width: 100%;
        }
    }

	.buttons {
		display: flex;
		margin-bottom: 2rem;
		gap: 1rem;
		
		button {
			cursor: pointer;
			transition: all .3s ease-in-out;

			&#downloadExcel,
			&#remove-highlights {
				border: none;
				padding: 5px 10px;
				border-radius: 3px;
				color: white;
				padding-inline: 20px;
				
				&.disabled {
					pointer-events: none;
					background: $grey;
					color: darken($grey, 20%);
				}
			}
			
			&#downloadExcel {
				$color: green;
				background: $color;
				
				&:hover {
					background: darken($color, 5%);
				}
			}
			
			&#remove-highlights {
				$color: $coral;
				background: $color;

				&:hover {
					background: darken($color, 5%);
				}
				// background: transparent;
				// border: solid 2px white;
				// color: white;
				// padding: 4px 15px;
				// border-radius: 18px;
			}

		}
	}

    .tabs {
		@include m.mobile-max {
			width: 100%;
		}

        ul {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			align-items: center;
			gap: 1rem;
			padding-left: 0;
			margin-bottom: 1rem;

			@include m.mobile-max {
				grid-template-columns: repeat(2, 1fr);
			}
			
			li {
				list-style: none;
				
				a, 
				button {
					display: block;
					text-decoration: none;
					color: white;
					padding: 10px 25px;
					background: none;
					color: $gold;
					font-weight: bold;
					border: solid 2px $gold;
					border-radius: 1.8rem;
					transition: all .3s ease-in-out;
				
					&.active {
						background: $gold;
						color: $blue
					}
				}

				&:last-child {
					@include m.mobile-max {
						grid-column: 1 / -1;
					}
				}
				
				button.clear {
					background: $coral;
					border: none;
					color: $blue;

					@include m.mobile-max {
						width: 100%;
					}

					&:hover {
						cursor: pointer;
						background: darken($coral, 5%);
					}
				}
			}
        }
    }

    table {
        margin-top: 1rem;
        margin-bottom: 3rem;
        width: 600px;
        border-spacing: 5px;

		
		@include m.tablet-portrait-max {
			width: 100%;
		}
		
		@include m.mobile-max {
			// table-layout: fixed;
			border-collapse: collapse;
			border: 0;

			thead {
				border: none;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}

			tbody {
				tr {
					display: block;
					margin-bottom: 1.5rem;
					border-radius: 5px;
				}
			}

			td {
				border-bottom: 1px solid rgba(white, .4);
				display: block;
				text-align: right !important;

				&::before {
					content: attr(data-label);
					float: left;
					font-weight: bold;
				}

				&:first-child {
					text-align: center !important;
					font-weight: bold;
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}
        
        &.overview {
			th {
				background: rgba(white, 0.5);
			}
        }
        
        th, td {
			padding: .5rem 1rem;
			text-align: left;
        }
        
        th {
			background: lighten($blue, 10%);
			color: $gold;
			font-weight: bold;
        }
        
		tbody {
			tr {
				position: relative;
				background: rgba(254.9,255,255, .1);
				
				&:nth-child(odd) {
					background: rgba(254.9,255,255, .2);
				}

				td {
					position: relative;
					z-index: 1;
					isolation: isolate;
					transition: all .2s ease-in-out;
					// transition-delay: .1s;
					
					&::after {
						content: "";
						position: absolute;
						inset: 0;
						background: $highlight;
						width: 100%;
						height: 100%;
						transform: scaleY(0);
						transform-origin: bottom;
						opacity: 0;
						z-index: -1;
						transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
					}
					
					&:last-child {
						position: relative;
						
						div {
							position: absolute;
							right: -12.5px;
							right: -15px;
							top: 17%;
							width: 25px;
							height: 25px;
							border-radius: 50%;
							background: $coral;
							display: grid;
							place-items: center;
							transition: all .4s cubic-bezier(0.16, 1, 0.3, 1);
							transform-origin: center;
							color: $blue;
							font-size: 15px;
							cursor: pointer;
							opacity: 0;
							
							span {
								font-size: 23px;
								line-height: 1;
							}
						}
					}
				}
				
				&:hover td {
					&:last-child div {
						opacity: 1;
						right: -12.5px;
						transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
					}
				}
				
				&.highlighted {
					td {
						&:not(span) {
							color: $blue;
						}
						
						div {
							transform: rotate(45deg);
							opacity: 1;
							right: -12.5px;
						}

						&::after {
							transform: scaleY(1);
							opacity: 1;
						}
					} 
				}
			}
		}
    }

    form {
        display: grid;
        gap: 10px;
        margin-top: 1rem;
        margin-bottom: .6rem;

        input,
        select {
			padding: 5px 10px;
			border-radius: 3px;
			background: rgba(255,255,255,.6); 
			transition: all .3s ease-in-out;
			border: none;
			cursor: pointer;
			color: $blue;
				
			&::placeholder,
			option {
				color: black;
			}
        }
		
		input {
			&:focus,
			&:active {
				outline: none;
			}

			&[type="submit"] {
				$color: $green;
				background: $color;
				
				&:hover {
					background: darken($color, 5%);
				}
			}
	
			&[type="reset"] {
				$color: $gold;
				background: $color;
			
				&:hover {
					background: darken($grey, 5%);
				}
			}
        }
        
        grid-template-columns: 1fr 1fr;

        @include m.mobile-max {
			grid-template-columns: 1fr;
        }
    }
}