@use '../abstracts/variables' as *;

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 1rem;
    
    button {
        border: none;
        padding: 13px 13px 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        cursor: pointer;
        transition: all .3s ease-in-out;
        
        &#downloadExcel,
        &#downloadExcelRows {
            $color: $bright-green;
            background: $color;
            
            &:hover {
                background: darken($color, 5%);
            }
        }
        
        
        &#remove-highlights,
        &.clear {
            $color: $orange;
            background: $color;
            
            &:hover {
                cursor: pointer;
                background: darken($color, 5%);
            }
        }

        &.disabled {
            pointer-events: none !important;
            background: $grey !important;
            color: darken($grey, 20%) !important;
        }

    }
}