@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

form {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 3rem;

    .form-buttons {
        display: flex;
        justify-content: space-between;
        gap: 15px;

        input {
            width: 100%;
        }
    }

    input,
    select {
        border: none;
        cursor: pointer;
        background: $white;
        padding: 15px;
        color: $grey !important;
        font-size: $fs-4;
            
        &::placeholder,
        option {
            color: $grey !important;
        }
    }

    input[type="submit"],
    input[type="reset"] {
        text-transform: uppercase;
    }

    input {
        &:focus,
        &:active {
            outline: none;
        }

        &[type="submit"] {
            $color: $gold;
            background: $color;
            color: $navy-dark !important;
            
            &:hover {
                background: darken($color, 5%);
            }
        }

        &[type="reset"] {
            $color: $navy-dark;
            background: $color;
            color: $white !important;
        
            &:hover {
                background: lighten($navy-dark, 5%);
            }
        }

        transition: all .3s ease-in-out;
    }

    .form-disclaimer {
        font-weight: $fw-light;
        text-align: left;
        color: $navy-dark;
        margin-top: 1rem;
    }
}