@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

.tabs {
    @include m.mobile-max {
        width: 100%;
    }

    max-width: 420px;
    width: 100%;

    ul {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-left: 0;
        margin-bottom: 1.5rem;

        @include m.mobile-max {
            grid-template-columns: repeat(2, 1fr);
        }
        
        li {
            list-style: none;
            flex: 1;
            
            a {
                $color: $dull-grey; 
                display: block;
                text-decoration: none;
                color: $color;
                padding: 10px 25px;
                background: none;
                font-weight: bold;
                border: solid 2px $color;
                text-transform: uppercase;
                transition: all .3s ease-in-out;

                &:hover {
                    color: lighten($color, 20%);
                    border-color: lighten($color, 20%);
                }
            
                &.active {
                    border-color: $gold;
                    color: $gold;
                }
            }
        }
    }
}