@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

table {
    margin: 1rem auto 0;
    width: 100%;
    border-spacing: 3px;

    @include m.tablet-portrait-max {
        width: 100%;
    }
    
    @include m.tablet-small-max {
        // table-layout: fixed;
        border-collapse: collapse;
        border: 0;

        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        tbody {
            tr {
                display: block;
                margin-bottom: 2.5rem;
                border-radius: 10px;

                td {
                    &:first-child {
                        background: rgba($purple-light, .6);
                    }
                }
                    
                &:nth-child(even) {
                    td {
                        &:first-child {
                            background: rgba($purple-light, .4);
                        }
                    }
                }
            }
        }

        td {
            border-bottom: 1px solid rgba(white, .4);
            display: block;
            text-align: right !important;

            &::before {
                content: attr(data-label);
                float: left;
                font-weight: bold;
            }

            &:first-child {
                text-align: center !important;
                font-weight: bold;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
    
    th, td {
        padding: .5rem 1rem;
        text-align: left;
        border-radius: 5px;
        font-size: 17px;
    }
    
    th {
        background: $gold;
        color: $blue;
        font-weight: bold;
    }
    
    tbody {
        tr {
            position: relative;
            background: rgba(254.9,255,255, .1);
            
            &:nth-child(even) {
                background: rgba(254.9,255,255, .2);
            }

            @include m.tablet-small-max {
                background: rgba($purple-light, .5);
            
                &:nth-child(even) {
                    background: rgba($purple-light, .3);
                }
            }

            td {
                position: relative;
                z-index: 1;
                isolation: isolate;
                transition: all .2s ease-in-out;
                
                &::after {
                    content: "";
                    position: absolute;
                    inset: 0;
                    background: $highlight;
                    width: 100%;
                    height: 100%;
                    transform: scaleY(0);
                    transform-origin: bottom;
                    border-radius: 5px;
                    opacity: 0;
                    z-index: -1;
                    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);

                    @include m.until(699px) {
                        transform: scale(1);
                        opacity: 0;
                    }
                }
                
                &:last-child {
                    position: relative;
                    
                    div {
                        position: absolute;
                        right: -15px;
                        top: 15%;
                        border-radius: 50%;
                        background: $white;
                        display: grid;
                        place-items: center;
                        transform-origin: center;
                        color: $blue;
                        font-size: 15px;
                        cursor: pointer;
                        opacity: 0;
                        transition: background 1s, opacity .2s, right .8s;
                        transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
                        
                        span {
                            padding: 3px 6.5px;
                            line-height: 1;
                            font-size: 20px;
                            transition: all .4s cubic-bezier(0.16, 1, 0.3, 1);
                            transform: rotate(45deg);

                            i {
                                pointer-events: none;
                            }
                        }

                        @include m.tablet-small-max {
                            opacity: 1;
                            right: 50%;
                            transform: translateX(50%);
                            top: 35%;
                            font-weight: bold;

                            span {
                                font-size: 37px !important;
                                padding: 6px 12px !important;
                                font-weight: $fw-regular;
                            }
                        }
                        
                    }
                }
            }
            
            @include m.tablet-small-min {
                &:hover td {
                    &:last-child div {
                        opacity: 1;
                    }
                }
            }
            
            &.highlighted {
                td {
                    &:not(span) {
                        color: $blue;
                    }
                    
                    div{
                        opacity: 1;
                        background: $crimson;
                        color: $white;

                        span {
                            transform: rotate(0deg);
                        }
                    }

                    &::after {
                        transform: scaleY(1);
                        opacity: 1;

                        @include m.until(699px) {
                            opacity: 1;
                        }
                    }
                } 
            }

            &:last-child {
                margin-bottom: 1.2rem;
            }
        }
    }
}

.pre-text {
    text-align: left;
    margin: 0;
    padding: 1rem;
    color: $grey-blue;
    font-size: 16px;
}