@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

.tabs {
	position: relative;

	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding-left: 0;
		margin-bottom: 0;

		li {
			list-style: none;

			a {
				position: relative;
				display: block;
				padding: 5px;
				font-weight: $fw-semi-bold;
				text-decoration: none;
				text-transform: uppercase;
				font-size: $fs-4;
				color: $light-grey;
				transition: all .3s ease-in-out;

				&.active {
					color: $navy-dark;
				}
			}
		}
	}

	#tab-indicator {
		position: absolute;
		height: 3px;
		background: $gold;
		margin-bottom: 1rem;
		transition: all .5s cubic-bezier(0.16, 1, 0.3, 1);
	}	
}
