@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

/* //////////////////////
  General styling
  /////////////////////// */

body {
	font-size: .9rem;
	font-family: $ff-main;
	background: $blue;
	color: white;
	text-align: center;
}

.wrapper {
	background: blue;
	width: 100vw;
	height: 100vh;
}

// .container {

// }