@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

/* //////////////////////
  General styling
  /////////////////////// */

body {
	font-size: .9rem;
	font-family: $ff-main;
	text-align: center;
}

.wrapper {
	width: 100vw;
	height: 100vh;
}

.container {
	max-width: 382px;
}