@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

/* //////////////////////
  General styling
  /////////////////////// */

html, body {
  overflow-x: hidden;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $gradient-black;
  color: $white;
  font-size: .9rem;
  font-family: $ff-main;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 1rem;

  &.medium {
    max-width: 1200px;
  }
  
  &.narrow {
    max-width: 1000px;
  }
}


.hero {
  margin-top: 10rem;

  @include m.mobile-max {
    margin-top: 10rem;
  }

  &-body {
    padding-inline: 1rem;

    @include m.tablet-small-max {
      padding-inline: 3rem;
    }

    p {
      font-size: $fs-4;
      font-weight: $fw-light;
      margin-bottom: 1rem;
    }
  }
}
