@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

/* typgraphy */

h1,
h2,
h3,
h4, 
h5 {
  font-family: $ff-main;
  font-weight: $fw-semi-bold;
  line-height: 1.1;
}

h1 {
  font-size: $fs-0;
  margin-top: 3rem;
  margin-bottom: .5rem;
  font-style: italic;

  span {
    color: $gold;
  }

  @include m.until(600px) {
    font-size: 9vw;
  }
}

h2 {
  font-size: $fs-5;
}

strong {
  font-weight: $fw-bold;
}

p.subtitle {
  font-size: $fs-7;
  font-weight: normal;
  margin: 0 auto 3rem;
  line-height: 2;
  color: #f7f7f7;
  max-width: 850px;

  @include m.mobile-max {
    font-size: $fs-6;
    line-height: 1.6
  }
}